In [1]:
import numpy as np
import pandas as pd

In [6]:
df1=pd.read_excel(r"C:\Users\Nadeem Anwar\Desktop\Sadaf\data analysis process\web scraping with selenium\latest_cleaned_phones.xlsx")

In [5]:
df2=pd.read_csv(r"C:\Users\Nadeem Anwar\Desktop\smartphone_cleaned_v3.csv")

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1020 non-null   int64
 1   brand_name                 1020 non-null   object
 2   model                      1020 non-null   object
 3   price                      1020 non-null   int64
 4   ratings                    1020 non-null   float64
 5   has_5g                     1020 non-null   bool
 6   has_nfc                    1020 non-null   bool
 7   has_ir_blaster             1020 non-null   bool
 8   processor_brand            969 non-null    object
 9   num_cores                  1012 non-null   float64
 10  processor_speed            869 non-null    float64
 11  display_size               1020 non-null   float64
 12  battery_capacity           1013 non-null   float64
 13  fast_charging_available    1008 non-null   float64
 14  fast_charging_W            960 non-null    float64
 15  resolution                 1020 non-null   object
 16  refresh_rate               1020 non-null   int64
 17  num_rear_cameras           1020 non-null   int64
 18  num_front_cameras          1020 non-null   object
 19  memory_extended_upto       271 non-null    float64
 20  extended_memory_available  1020 non-null   int64
 21  os                         404 non-null    object
 22  ram_capacity               1020 non-null   int64
 23  internal_memory_GB         1020 non-null   int64
 24  primary_camera_rear_MP     1019 non-null   float64
 25  primary_camera_front_MP    1015 non-null   float64
dtypes: bool(3), float64(10), int64(7), object(6)
memory usage: 186.4+ KB

In [10]:
df2[["processor_name","processor_brand"]]

        processor_name processor_brand
0    Snapdragon 8 Gen2      snapdragon
1       Snapdragon 695      snapdragon
2          Exynos 1330          exynos
3      Snapdragon  695      snapdragon
4       Dimensity 1080       dimensity
..                 ...             ...
975  Snapdragon 8 Gen1      snapdragon
976   Snapdragon  480+      snapdragon
977     Dimensity 8100       dimensity
978     Snapdragon 695      snapdragon
979                NaN             NaN

[980 rows x 2 columns]

- creating processor name column

In [13]:
df3=pd.read_excel(r"C:\Users\Nadeem Anwar\Desktop\Sadaf\data analysis process\web scraping with selenium\almost_cleaned_phones.xlsx",usecols=["processor"])

In [20]:
df1.insert(8,"processor_name",df3["processor"].str.strip().str.split(",").str.get(0))

In [21]:
df1.to_excel("latest1_cleaned_phones.xlsx")

In [23]:
df1=pd.read_excel(r"C:\Users\Nadeem Anwar\Desktop\Sadaf\data analysis process\web scraping with selenium\latest1_cleaned_phones.xlsx")

In [26]:
df1.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'],inplace=True)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 1020 non-null   object
 1   model                      1020 non-null   object
 2   price                      1020 non-null   int64
 3   ratings                    1020 non-null   float64
 4   has_5g                     1020 non-null   bool
 5   has_nfc                    1020 non-null   bool
 6   has_ir_blaster             1020 non-null   bool
 7   processor_name             1020 non-null   object
 8   processor_brand            969 non-null    object
 9   num_cores                  1012 non-null   float64
 10  processor_speed            869 non-null    float64
 11  display_size               1020 non-null   float64
 12  battery_capacity           1013 non-null   float64
 13  fast_charging_available    1008 non-null   float64
 14  fast_charging_W            960 non-null    float64
 15  resolution                 1020 non-null   object
 16  refresh_rate               1020 non-null   int64
 17  num_rear_cameras           1020 non-null   int64
 18  num_front_cameras          1020 non-null   object
 19  memory_extended_upto       271 non-null    float64
 20  extended_memory_available  1020 non-null   int64
 21  os                         404 non-null    object
 22  ram_capacity               1020 non-null   int64
 23  internal_memory_GB         1020 non-null   int64
 24  primary_camera_rear_MP     1019 non-null   float64
 25  primary_camera_front_MP    1015 non-null   float64
dtypes: bool(3), float64(10), int64(6), object(7)
memory usage: 186.4+ KB

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   brand_name            980 non-null    object
 1   model                 980 non-null    object
 2   price                 980 non-null    int64
 3   rating                879 non-null    float64
 4   has_5g                980 non-null    bool
 5   has_nfc               980 non-null    bool
 6   has_ir_blaster        980 non-null    bool
 7   processor_name        960 non-null    object
 8   processor_brand       960 non-null    object
 9   num_cores             974 non-null    object
 10  processor_speed       938 non-null    float64
 11  battery_capacity      969 non-null    float64
 12  fast_charging         980 non-null    int64
 13  ram_capacity          980 non-null    float64
 14  internal_memory       978 non-null    float64
 15  screen_size           980 non-null    float64
 16  refresh_rate          980 non-null    int64
 17  resolution            980 non-null    object
 18  num_rear_cameras      980 non-null    int64
 19  num_front_cameras     980 non-null    object
 20  os                    980 non-null    object
 21  primary_camera_rear   980 non-null    float64
 22  primary_camera_front  976 non-null    object
 23  extended_memory       980 non-null    object
dtypes: bool(3), float64(7), int64(4), object(10)
memory usage: 163.8+ KB

In [30]:
df1.columns

Index(['brand_name', 'model', 'price', 'ratings', 'has_5g', 'has_nfc',
       'has_ir_blaster', 'processor_name', 'processor_brand', 'num_cores',
       'processor_speed', 'display_size', 'battery_capacity',
       'fast_charging_available', 'fast_charging_W', 'resolution',
       'refresh_rate', 'num_rear_cameras', 'num_front_cameras',
       'memory_extended_upto', 'extended_memory_available', 'os',
       'ram_capacity', 'internal_memory_GB', 'primary_camera_rear_MP',
       'primary_camera_front_MP'],
      dtype='object')

In [31]:
df2.columns

Index(['brand_name', 'model', 'price', 'rating', 'has_5g', 'has_nfc',
       'has_ir_blaster', 'processor_name', 'processor_brand', 'num_cores',
       'processor_speed', 'battery_capacity', 'fast_charging', 'ram_capacity',
       'internal_memory', 'screen_size', 'refresh_rate', 'resolution',
       'num_rear_cameras', 'num_front_cameras', 'os', 'primary_camera_rear',
       'primary_camera_front', 'extended_memory'],
      dtype='object')

In [ ]:
#