In [1]:
import numpy as np
import pandas as pd

In [19]:
df1=pd.read_excel(r"C:\Users\Nadeem Anwar\Desktop\Sadaf\data analysis process\web scraping with selenium\completely_cleaned_smartprix_phones.xlsx")

In [21]:
df1.drop(columns=["Unnamed: 0","spec_score"],inplace=True)

In [14]:
def str_to_num_cores (core):
    if core == 'Octa Core':
        return 8
    elif core =="Hexa Core":
        return 6
    elif core=='Deca Core':
        return 10
    elif core =="7 Cores":
        return 7
    elif core=="Nine Core":
        return 9
    else :
        return np.nan

In [22]:
df1["num_cores"]=df1["num_cores"].apply(str_to_num_cores)

In [23]:
df1["num_rear_cameras"]

0       2
1       2
2       2
3       3
4       2
       ..
1015    3
1016    3
1017    3
1018    3
1019    3
Name: num_rear_cameras, Length: 1020, dtype: int64

In [24]:
df1.head(2)

,brand_name,model,price,ratings,has_5g,has_nfc,has_ir_blaster,processor_name,processor_brand,num_cores,...,fast_charging_available,fast_charging_W,resolution,refresh_rate,num_rear_cameras,num_front_cameras,memory_extended_upto,extended_memory_available,os,ram_capacity
0,oppo f31 pro 5g,Oppo,"₹26,999",4.55,True,False,False,Dimensity 7300 Energy,dimensity,8.0,...,1.0,80.0,1080 x 2372,120,2,1,NaN,1,Android,8
1,oppo f31 pro plus 5g,Oppo,"₹32,999",4.15,True,False,False,Snapdragon 7 Gen3,snapdragon,8.0,...,1.0,80.0,1280 x 2800,120,2,1,NaN,1,Android,8

impoerting almost cleaned data to extract mp of primary rear nad fron camera and processor speed

In [65]:
df2=pd.read_excel(r"C:\Users\Nadeem Anwar\Desktop\Sadaf\data analysis process\web scraping with selenium\almost_cleaned_phones.xlsx",usecols=["camera","ram"])

0       [Dimensity 7300 Energy,  Octa Core,  2.5 GHz P...
1       [Snapdragon 7 Gen3,  Octa Core,  2.63 GHz Proc...
2        [Dimensity 6300,  Octa Core,  2.4 GHz Processor]
3       [Dimensity 8350,  Octa Core,  3.35 GHz Processor]
4        [Dimensity 7300,  Octa Core,  2.5 GHz Processor]
                              ...
1015    [Dimensity 8100 Max,  Octa Core,  2.85 GHz Pro...
1016    [Snapdragon 8 Gen1,  Octa Core,  3 GHz Processor]
1017    [Snapdragon  695,  Octa Core,  2.2 GHz Processor]
1018    [Snapdragon 8 Gen1,  Octa Core,  3 GHz Processor]
1019       [Dimensity 1200,  Octa Core,  3 GHz Processor]
Name: processor, Length: 1020, dtype: object

In [35]:
df1["price"]=df1["price"].str.strip().str.replace("₹","").str.strip().str.replace(",","").astype("int")

In [50]:
df1.drop(columns="processor_name",inplace=True)

KeyError: "['processor_name'] not found in axis"

In [59]:
df1["processor_speed"]=df1["processor_speed"].str.strip().str.split().str.get(0).astype('float')

In [63]:
df1.drop(columns="display",inplace=True)

In [64]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 1020 non-null   object
 1   model                      1020 non-null   object
 2   price                      1020 non-null   int64
 3   ratings                    1020 non-null   float64
 4   has_5g                     1020 non-null   bool
 5   has_nfc                    1020 non-null   bool
 6   has_ir_blaster             1020 non-null   bool
 7   processor_brand            969 non-null    object
 8   num_cores                  1012 non-null   float64
 9   processor_speed            869 non-null    float64
 10  display_size               1020 non-null   float64
 11  battery_capacity           1013 non-null   float64
 12  fast_charging_available    1008 non-null   float64
 13  fast_charging_W            960 non-null    float64
 14  resolution                 1020 non-null   object
 15  refresh_rate               1020 non-null   int64
 16  num_rear_cameras           1020 non-null   int64
 17  num_front_cameras          1020 non-null   object
 18  memory_extended_upto       271 non-null    float64
 19  extended_memory_available  1020 non-null   int64
 20  os                         404 non-null    object
 21  ram_capacity               1020 non-null   int64
dtypes: bool(3), float64(8), int64(5), object(6)
memory usage: 154.5+ KB

In [76]:
# accessing internal memory
internal_memory_GB=df2["ram"].str.strip().str.split(",").str.get(1).str.strip().str.split().str.get(0)

In [ ]:
df1.insert(22,"internal_memory_GB",internal_memory_GB)

ValueError: cannot insert internal_memory_GB, already exists

In [80]:
df1["internal_memory_GB"]=df1["internal_memory_GB"].astype("int")

In [81]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 1020 non-null   object
 1   model                      1020 non-null   object
 2   price                      1020 non-null   int64
 3   ratings                    1020 non-null   float64
 4   has_5g                     1020 non-null   bool
 5   has_nfc                    1020 non-null   bool
 6   has_ir_blaster             1020 non-null   bool
 7   processor_brand            969 non-null    object
 8   num_cores                  1012 non-null   float64
 9   processor_speed            869 non-null    float64
 10  display_size               1020 non-null   float64
 11  battery_capacity           1013 non-null   float64
 12  fast_charging_available    1008 non-null   float64
 13  fast_charging_W            960 non-null    float64
 14  resolution                 1020 non-null   object
 15  refresh_rate               1020 non-null   int64
 16  num_rear_cameras           1020 non-null   int64
 17  num_front_cameras          1020 non-null   object
 18  memory_extended_upto       271 non-null    float64
 19  extended_memory_available  1020 non-null   int64
 20  os                         404 non-null    object
 21  ram_capacity               1020 non-null   int64
 22  internal_memory_GB         1020 non-null   int64
dtypes: bool(3), float64(8), int64(6), object(6)
memory usage: 162.5+ KB

In [ ]:
df2["camera"].str.strip().str.split().str.get(0)

,ram,camera
927,"8 GB RAM, 12 GB inbuilt",Main + Depth Sensor Dual Rear & Ultra Wide Fro...

In [92]:
df1["primary_camera_rear_MP"]=df2["camera"].str.strip().str.split().str.get(0)

In [95]:
df1.loc[927,"primary_camera_rear_MP"]=np.nan

In [97]:
df1["primary_camera_rear_MP"]=df1["primary_camera_rear_MP"].astype("float")

In [111]:
df2[df2["camera"].str.strip().str.split("&").str.get(1).str.strip().str.split().str.get(0).str.strip()=="Main"]

                          ram                                       camera
239  8 GB RAM, 128 GB inbuilt  50 MP + Macro Dual Rear & Main Front Camera

In [112]:
df2[df2["camera"].str.strip().str.split("&").str.get(1).str.strip().str.split().str.get(0).str.strip()=="Ultra"]

,ram,camera
927,"8 GB RAM, 12 GB inbuilt",Main + Depth Sensor Dual Rear & Ultra Wide Fro...

In [115]:
df1["primary_camera_front_MP"]=df2["camera"].str.strip().str.split("&").str.get(1).str.strip().str.split().str.get(0).str.strip()

In [118]:
df1.loc[[239,927],"primary_camera_front_MP"]=np.nan

In [119]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 1020 non-null   object
 1   model                      1020 non-null   object
 2   price                      1020 non-null   int64
 3   ratings                    1020 non-null   float64
 4   has_5g                     1020 non-null   bool
 5   has_nfc                    1020 non-null   bool
 6   has_ir_blaster             1020 non-null   bool
 7   processor_brand            969 non-null    object
 8   num_cores                  1012 non-null   float64
 9   processor_speed            869 non-null    float64
 10  display_size               1020 non-null   float64
 11  battery_capacity           1013 non-null   float64
 12  fast_charging_available    1008 non-null   float64
 13  fast_charging_W            960 non-null    float64
 14  resolution                 1020 non-null   object
 15  refresh_rate               1020 non-null   int64
 16  num_rear_cameras           1020 non-null   int64
 17  num_front_cameras          1020 non-null   object
 18  memory_extended_upto       271 non-null    float64
 19  extended_memory_available  1020 non-null   int64
 20  os                         404 non-null    object
 21  ram_capacity               1020 non-null   int64
 22  internal_memory_GB         1020 non-null   int64
 23  primary_camera_rear_MP     1019 non-null   float64
 24  primary_camera_front_MP    1015 non-null   object
dtypes: bool(3), float64(9), int64(6), object(7)
memory usage: 178.4+ KB

In [121]:
df1.to_excel("latest_cleaned_phones.xlsx")