# data analysis process

### 1 asking questions

### 2 data wrangling

          a. data gathering
          

            1. csv
            2. api
            3. web scraping
            4. databases
          b. assessing data
          c. cleaning data

### 3. EDA 
### 4. drawing conclusion 
### 5.communicating results

### types of unclean data
##### there are 2 types of unclean data

1. dirty data (data with quality issues ) dirty data, is also knows as low quality data. it has content issues
     ###########

In [133]:
import numpy as np
import pandas as pd
import re

In [134]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')
treatments_cut = pd.read_csv('treatments_cut.csv')

#### converting csv files into excel file so that it will be easy to see the data manually and assessing

In [136]:
with pd.ExcelWriter ('clinic_trials.xlsx') as writer :
    patients.to_excel(writer,sheet_name="patients")
    treatments.to_excel(writer,sheet_name="treatments")
    adverse_reactions.to_excel(writer,sheet_name="adverse_reactions")
    treatments_cut.to_excel(writer,sheet_name="treatments_cut")

PermissionError: [Errno 13] Permission denied: 'clinic_trials.xlsx'

                                             # manual assessment

### issues with the data
1. dirty data
    - `patients table`
        - patient id = 9 has misspelled name 'Dsvid instead of David'
        - state columns sometimes contains full name sometime abriviation
        - zip code column has entries with 4 digit 
        - data missing for 12 patients in surname	address	city	state	zip_code	country	contact columns
        - incorrect datatype assigned to sex, birthdate, zip_code
        - duplicate entries by the name of john and doe
        - one patiente has weight = 48 pound 
2. messy data

    - `patients table`
       - contact column contains both phone number and email


# treatments table
1. dirty data
    - given name and surname column is all lower case (should be capitalize)
    - remove u from auralin and Novadra column
    - '-' treated as nan
    - missing values in hba1c_change column
2. messy data(structural problem in data)
    - auralin and Novadra column shold be split in 2 columns start and end dose

# adverse_reactions 
1. dirty_data

2. messy data
   - this taable should not exist independently

                                    #  programatically assessing the data

1. head and tail
2. info
3. descibe 
4. info
5. duplicated 
6. isnull

In [137]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [138]:
patients[patients["address"].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

In [139]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [140]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

checking entries are being repeated or not

In [141]:
int(patients.duplicated().sum())

0

In [142]:
int(patients['patient_id'].duplicated().sum())

0

In [143]:
patients[patients.duplicated(subset=["given_name","surname"])]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4

In [144]:
patients_df=patients.copy()
treatments_df=treatments.copy()
treatments_cut_df=treatments_cut.copy()
adverse_reactions_df=adverse_reactions.copy()

In [145]:
patients_df[patients_df["address"].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

- replace all nan data with no data in patients df
- subs all hba1c_start from hba1c_end to get all the change values in treatments df

In [146]:
#code
patients_df.fillna("no data",inplace=True)

C:\Users\Nadeem Anwar\AppData\Local\Temp\ipykernel_17528\2219334806.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'no data' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  patients_df.fillna("no data",inplace=True)

In [147]:
# test
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       503 non-null    object
 5   city          503 non-null    object
 6   state         503 non-null    object
 7   zip_code      503 non-null    object
 8   country       503 non-null    object
 9   contact       503 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(2), int64(2), object(10)
memory usage: 55.1+ KB

In [148]:
treatments.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [149]:
# code
treatments_df["hba1c_change"]=treatments_df["hba1c_start"] - treatments_df["hba1c_end"]
treatments_df["hba1c_change"]

0      0.43
1      0.47
2      0.43
3      0.35
4      0.32
       ...
275    0.20
276    0.32
277    0.37
278    0.36
279    0.36
Name: hba1c_change, Length: 280, dtype: float64

In [150]:
patients_df["contact"]

0                 951-719-9170ZoeWellish@superrito.com
1                PamelaSHill@cuvox.de+1 (217) 569-3204
2                     402-363-6804JaeMDebord@gustr.com
3           PhanBaLiem@jourrapide.com+1 (732) 636-8246
4                      334-515-7487TimNeudorf@cuvox.de
                            ...
498        207-477-0579MustafaLindstrom@jourrapide.com
499                 928-284-4492RumanBisliev@gustr.com
500              816-223-6007JinkedeKeizer@teleworm.us
501    ChidaluOnyekaozulu@jourrapide.com1 360 443 2060
502               PatrickGersten@rhyta.com402-848-4923
Name: contact, Length: 503, dtype: object

In [151]:
patients_df["contact_number"] = patients_df["contact"].str.extract(r"(\+?\d{0,2}\s*\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}|\d{3}-\d{3}-\d{4}|\d{1}\s\d{3}\s\d{3}\s\d{4})")

In [152]:
patients_df["email"] = patients_df["contact"].str.replace(
    r"(\+?\d{0,2}\s*\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}|\d{3}-\d{3}-\d{4}|1\s\d{3}\s\d{3}\s\d{4})", 
    '', 
    regex=True
).str.strip()

In [ ]:
patients_df.drop(columns="contact",inplace=True)

In [153]:
patients_df.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,contact_number,email
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6,951-719-9170,ZoeWellish@superrito.com
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2,+1 (217) 569-3204,PamelaSHill@cuvox.de
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8,402-363-6804,JaeMDebord@gustr.com
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7,+1 (732) 636-8246,PhanBaLiem@jourrapide.com
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1,334-515-7487,TimNeudorf@cuvox.de

In [ ]:
patients_df[patients_df["contact_number"].isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi,contact_number
209,210,female,Lalita,Eldarkhanov,no data,no data,no data,no data,no data,no data,8/14/1950,143.4,62,26.2,NaN
219,220,male,Mỹ,Quynh,no data,no data,no data,no data,no data,no data,4/9/1978,237.8,69,35.1,NaN
230,231,female,Elisabeth,Knudsen,no data,no data,no data,no data,no data,no data,9/23/1976,165.9,63,29.4,NaN
234,235,female,Martina,Tománková,no data,no data,no data,no data,no data,no data,4/7/1936,199.5,65,33.2,NaN
242,243,male,John,O'Brian,no data,no data,no data,no data,no data,no data,2/25/1957,205.3,74,26.4,NaN
249,250,male,Benjamin,Mehler,no data,no data,no data,no data,no data,no data,10/30/1951,146.5,69,21.6,NaN
257,258,male,Jin,Kung,no data,no data,no data,no data,no data,no data,5/17/1995,231.7,69,34.2,NaN
264,265,female,Wafiyyah,Asfour,no data,no data,no data,no data,no data,no data,11/3/1989,158.6,63,28.1,NaN
269,270,female,Flavia,Fiorentino,no data,no data,no data,no data,no data,no data,10/9/1937,175.2,61,33.1,NaN
278,279,female,Generosa,Cabán,no data,no data,no data,no data,no data,no data,12/16/1962,124.3,69,18.4,NaN
286,287,male,Lewis,Webb,no data,no data,no data,no data,no data,no data,4/1/1979,155.3,68,23.6,NaN
296,297,female,Chỉ,Lâm,no data,no data,no data,no data,no data,no data,5/14/1990,181.1,63,32.1,NaN

In [154]:
treatments_df=pd.concat([treatments_df,treatments_cut_df])

In [155]:
treatments_df= treatments_df.melt(id_vars=['given_name', 'surname' ,'hba1c_start', 'hba1c_end','hba1c_change'],var_name='type',value_name='dosage_range')

In [158]:
treatments_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_range
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
1,elliot,richardson,7.56,7.09,0.47,auralin,-
2,yukitaka,takenaka,7.68,7.25,0.43,auralin,-
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
4,alissa,montez,7.78,7.46,0.32,auralin,-
...,...,...,...,...,...,...,...
695,rovzan,kishiev,7.75,7.41,0.34,novodra,-
696,jakob,jakobsen,7.96,7.51,0.95,novodra,28u - 26u
697,bernd,schneider,7.74,7.44,0.30,novodra,-
698,berta,napolitani,7.68,7.21,NaN,novodra,42u - 44u
699,armina,sauvé,7.86,7.40,NaN,novodra,-

In [159]:
treatments_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_range
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
1,elliot,richardson,7.56,7.09,0.47,auralin,-
2,yukitaka,takenaka,7.68,7.25,0.43,auralin,-
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
4,alissa,montez,7.78,7.46,0.32,auralin,-
...,...,...,...,...,...,...,...
695,rovzan,kishiev,7.75,7.41,0.34,novodra,-
696,jakob,jakobsen,7.96,7.51,0.95,novodra,28u - 26u
697,bernd,schneider,7.74,7.44,0.30,novodra,-
698,berta,napolitani,7.68,7.21,NaN,novodra,42u - 44u
699,armina,sauvé,7.86,7.40,NaN,novodra,-

In [157]:
treatments_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_range
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
1,elliot,richardson,7.56,7.09,0.47,auralin,-
2,yukitaka,takenaka,7.68,7.25,0.43,auralin,-
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
4,alissa,montez,7.78,7.46,0.32,auralin,-
...,...,...,...,...,...,...,...
695,rovzan,kishiev,7.75,7.41,0.34,novodra,-
696,jakob,jakobsen,7.96,7.51,0.95,novodra,28u - 26u
697,bernd,schneider,7.74,7.44,0.30,novodra,-
698,berta,napolitani,7.68,7.21,NaN,novodra,42u - 44u
699,armina,sauvé,7.86,7.40,NaN,novodra,-

In [161]:
treatments_df[treatments_df["dosage_range"]!="-"]

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_range
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u - 36u
...,...,...,...,...,...,...,...
688,christopher,woodward,7.51,7.06,0.95,novodra,55u - 51u
690,maret,sultygov,7.67,7.30,NaN,novodra,26u - 23u
694,lixue,hsueh,9.21,8.80,0.91,novodra,22u - 23u
696,jakob,jakobsen,7.96,7.51,0.95,novodra,28u - 26u
698,berta,napolitani,7.68,7.21,NaN,novodra,42u - 44u

In [163]:
treatments_df[["dosage_start","dosage_end"]]=treatments_df["dosage_range"].str.split("-",expand=True)

In [167]:
treatments_df.drop(columns="dosage_range",inplace=True)

In [168]:
treatments_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,dosage_start,dosage_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u
1,elliot,richardson,7.56,7.09,0.47,auralin,,
2,yukitaka,takenaka,7.68,7.25,0.43,auralin,,
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
4,alissa,montez,7.78,7.46,0.32,auralin,,
...,...,...,...,...,...,...,...,...
695,rovzan,kishiev,7.75,7.41,0.34,novodra,,
696,jakob,jakobsen,7.96,7.51,0.95,novodra,28u,26u
697,bernd,schneider,7.74,7.44,0.30,novodra,,
698,berta,napolitani,7.68,7.21,NaN,novodra,42u,44u
699,armina,sauvé,7.86,7.40,NaN,novodra,,

In [ ]:
treatments_df["dosage_end"]=treatments_df["dosage_end"].str.replace("u","")

0       48
1
2
3       36
4
      ...
695
696     26
697
698     44
699
Name: dosage_end, Length: 700, dtype: object

In [170]:
treatments_df["dosage_start"]=treatments_df["dosage_start"].str.replace("u","")

In [172]:
treatments_df["dosage_start"]=treatments_df["dosage_start"].astype('int')

ValueError: invalid literal for int() with base 10: ''

In [173]:
treatments_df["dosage_end"]=treatments_df["dosage_end"].astype('int')

ValueError: invalid literal for int() with base 10: ' 48u'